menu "SHT3x Configuration"
    config SHT3X_DEVICE_ADDR
        hex "SHT3x device address"
        default 0x44

    config SHT3X_I2C_SDA_PIN_NUM
        int "I2C SDA PIN NUM"
        default 4

    config SHT3X_I2C_SCL_PIN_NUM
        int "I2C SCL PIN NUM"
        default 5
endmenu

